/* Mobile: width < 740px */
@media only screen and (max-width: 739px) {
  ul.navbar-nav.navbar-right.ms-auto {
    display: flex;
    align-items: flex-start;
    margin-left: 8% !important;
  }

  h1 {
    width: auto;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.4;
  }

  p.lead.my-5 {
    width: auto;
    font-size: 1.4rem;
    font-weight: 500;
  }
}
/* Tablet: width >=740 and width < 1024 */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  ul.navbar-nav.navbar-right.ms-auto {
    display: flex;
    align-items: flex-start;
    margin-left: 8% !important;
  }

  p.lead.my-5 {
    width: auto;
    font-size: 1.4rem;
    font-weight: 400;
  }
}
